*{
  justify-content:center;
  align-items:center;
}

body {
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
}

h1 {
  color: #2c3e50;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ffffff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #7357B8;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #49299b;
}


.container { 
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center; 
  gap: 10px;
  height: 100vh; 
  background-color: #f0f0f0; 
}
