.cart-container {
    padding: 20px;
}

.cart-container h1 {
    text-align: center;
}

.cart-container ul {
    list-style-type: none;
}

.cart-container li {
    margin: 20px 0;
}

.remove-button, .update-button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.back-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
} 
.checkout-button-container {
    text-align: center;
    margin-top: 20px;
}

.checkout-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.checkout-button:hover {
    background-color: #45a049;
}
